<a href="https://colab.research.google.com/github/damarks80/aws-cloudformation-simplified/blob/master/Copy_of_BUAN405Ch2Ex10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import statsmodels.api as sm

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Concordia/BUAN405/Demographics.xlsx')

In [ ]:
data

     female   age   income
0       0.0  52.0  20942.0
1       0.0  35.0  24330.0
2       0.0  37.0  41052.0
3       0.0  33.0  86277.0
4       0.0  49.0  54651.0
..      ...   ...      ...
338     0.0  29.0  14472.0
339     1.0  33.0  80682.0
340     0.0  21.0  28482.0
341     0.0  60.0  74211.0
342     0.0  43.0  42644.0

[343 rows x 3 columns]

In [ ]:
X = data[['income','age']]
Y = data[['female']]
X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 female   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     4.389
Date:                Thu, 08 Sep 2022   Prob (F-statistic):             0.0131
Time:                        15:45:10   Log-Likelihood:                -174.19
No. Observations:                 343   AIC:                             354.4
Df Residuals:                     340   BIC:                             365.9
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0339      0.077      0.440      0.660      -0.118       0.186
income      -7.95e-07   1.06e-06     -0.752      0.452   -2.87e-06    1.28e-06
age            0.0052      0.002      2.961      0.003       0.002       0.009
==============================================================================
Omnibus:                       68.503   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              109.420
Skew:                           1.383   Prob(JB):                     1.74e-24
Kurtosis:                       3.062   Cond. No.                     1.62e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.62e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [ ]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier()

In [ ]:
print(model)

XGBClassifier()

In [ ]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [ ]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 78.07%