<a href="https://colab.research.google.com/github/damarks80/aws-cloudformation-simplified/blob/master/Copy_of_BUAN405_Ch2Ex8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# replace the filename with the path to the dataset you want to use
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Concordia/BUAN405/Demographics.xlsx')
m = np.mean(data['female'])
#print (m)
print(data['female'].describe())

count    343.000000
mean       0.209913
std        0.407841
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: female, dtype: float64

In [ ]:
data

     female   age   income
0       0.0  52.0  20942.0
1       0.0  35.0  24330.0
2       0.0  37.0  41052.0
3       0.0  33.0  86277.0
4       0.0  49.0  54651.0
..      ...   ...      ...
338     0.0  29.0  14472.0
339     1.0  33.0  80682.0
340     0.0  21.0  28482.0
341     0.0  60.0  74211.0
342     0.0  43.0  42644.0

[343 rows x 3 columns]

Run the data command in a new code cell to view the contents.

Run print(data['age'].describe()) in a new code cell.

Run print(data['income'].describe()) in a new code cell.

Run this code in a new code cell:
import seaborn as sns
sns.scatterplot(data=data, x="age", y="income", hue="female")